In [9]:
# Initial imports
import os
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels as sm
import matplotlib as plt
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [13]:
#type(api_URL)
zillow_url = "https://files.zillowstatic.com/research/public_v2/zhvi/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv"

file_path = zillow_url
inventory = pd.read_csv(file_path)
inventory.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,243122.0,...,1198593.0,1184952.0,1174185.0,1169911.0,1166749.0,1166177.0,1168951.0,1165854.0,1162883.0,1159148.0
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,203130.0,...,473656.0,474728.0,475002.0,475503.0,476854.0,478986.0,481919.0,484905.0,487859.0,490856.0
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,225811.0,...,1111077.0,1120212.0,1124321.0,1127056.0,1126225.0,1128253.0,1138576.0,1138269.0,1132154.0,1120459.0
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,199254.0,...,333667.0,334765.0,335858.0,336775.0,337577.0,339043.0,340610.0,343045.0,345999.0,350187.0
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,275953.0,...,618484.0,618119.0,617926.0,618015.0,619265.0,620926.0,623986.0,627034.0,630416.0,633821.0

In [34]:
inventory_filter = [column for column in inventory if column.startswith (("StateName","City","Metro","RegionName","2020"))]
inventory_2020_NY = inventory[inventory_filter]
inventory_2020_NY.set_index(["RegionName"], inplace = True)
inventory_2020_NY.head()

,StateName,City,Metro,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
RegionName,,,,,,,,,,,,,,,
10025,NY,New York,New York-Newark-Jersey City,1255624.0,1229471.0,1198593.0,1184952.0,1174185.0,1169911.0,1166749.0,1166177.0,1168951.0,1165854.0,1162883.0,1159148.0
60657,IL,Chicago,Chicago-Naperville-Elgin,471232.0,472095.0,473656.0,474728.0,475002.0,475503.0,476854.0,478986.0,481919.0,484905.0,487859.0,490856.0
10023,NY,New York,New York-Newark-Jersey City,1098207.0,1110075.0,1111077.0,1120212.0,1124321.0,1127056.0,1126225.0,1128253.0,1138576.0,1138269.0,1132154.0,1120459.0
77494,TX,Katy,Houston-The Woodlands-Sugar Land,333448.0,333261.0,333667.0,334765.0,335858.0,336775.0,337577.0,339043.0,340610.0,343045.0,345999.0,350187.0
60614,IL,Chicago,Chicago-Naperville-Elgin,617922.0,617882.0,618484.0,618119.0,617926.0,618015.0,619265.0,620926.0,623986.0,627034.0,630416.0,633821.0